--
-- PostgreSQL database dump
--

\restrict poL3g5qjP0OzE93E8OJHeIrhxGlt4D03zKoYY8EKvjLnE9At6L6pvOgELTQy7rZ

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.applications (
    application_id integer NOT NULL,
    application_name text,
    product_id integer
);


--
-- Name: Application_Application_ID_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Application_Application_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Application_Application_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Application_Application_ID_seq" OWNED BY public.applications.application_id;


--
-- Name: DjangoProject_item; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."DjangoProject_item" (
    id bigint NOT NULL,
    name character varying(200) NOT NULL
);


--
-- Name: DjangoProject_item_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."DjangoProject_item" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."DjangoProject_item_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product (
    product_id integer NOT NULL,
    product_name text,
    venture_id integer,
    coverage_id integer,
    product_code text,
    product_prefix text,
    documents_name text
);


--
-- Name: Product_Product_ID_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.product ALTER COLUMN product_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public."Product_Product_ID_seq"
    START WITH 2
    INCREMENT BY 1
    MINVALUE 2
    NO MAXVALUE
    CACHE 1
);


--
-- Name: application_question; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.application_question (
    application_question_id integer NOT NULL,
    application_id integer,
    custom_question text,
    parameter_id integer
);


--
-- Name: application_question_application_question_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.application_question ALTER COLUMN application_question_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.application_question_application_question_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: application_response; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.application_response (
    application_response_id integer NOT NULL,
    application_id integer,
    application_question_id integer,
    order_id integer,
    response text
);


--
-- Name: application_response_application_response_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.application_response ALTER COLUMN application_response_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.application_response_application_response_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: applications_application_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.applications ALTER COLUMN application_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.applications_application_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attachment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.attachment (
    attachment_id integer NOT NULL,
    attachment_name text,
    output_description text,
    attachment_type_id integer
);


--
-- Name: attachment_attachment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.attachment ALTER COLUMN attachment_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.attachment_attachment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attachment_detail; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.attachment_detail (
    attachment_detail_id integer NOT NULL,
    attachment_id integer,
    product_id integer,
    task_id integer,
    attachment_type_id integer
);


--
-- Name: attachment_detail_attachment_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.attachment_detail ALTER COLUMN attachment_detail_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.attachment_detail_attachment_detail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attachment_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.attachment_log (
    attachment_log_id integer NOT NULL,
    order_id integer,
    attachment_type_id integer,
    document_name text,
    document_timestamp time with time zone,
    document_path text
);


--
-- Name: attachment_log_attachment_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.attachment_log ALTER COLUMN attachment_log_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.attachment_log_attachment_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attachment_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.attachment_type (
    attachment_type_id integer NOT NULL,
    attachment_type_name text
);


--
-- Name: attachment_type_attachment_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.attachment_type ALTER COLUMN attachment_type_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.attachment_type_attachment_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: broker; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.broker (
    broker_id integer NOT NULL,
    broker_name text
);


--
-- Name: broker_broker_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.broker ALTER COLUMN broker_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.broker_broker_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: broker_contact; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.broker_contact (
    broker_contact_id integer NOT NULL,
    broker_location_id integer,
    broker_first_name text,
    broker_last_name text,
    broker_email text,
    broker_name_combined text
);


--
-- Name: broker_contact_broker_contact_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.broker_contact ALTER COLUMN broker_contact_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.broker_contact_broker_contact_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: broker_location; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.broker_location (
    broker_location_id integer NOT NULL,
    broker_id integer,
    broker_address_1 text,
    broker_address_2 text,
    broker_city text,
    broker_state_id integer,
    broker_zip text
);


--
-- Name: broker_location_broker_location_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.broker_location ALTER COLUMN broker_location_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.broker_location_broker_location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cloud; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cloud (
    cloud_id integer NOT NULL,
    cloud_name text
);


--
-- Name: cloud_cloud_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cloud ALTER COLUMN cloud_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.cloud_cloud_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: company; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.company (
    company_id integer NOT NULL,
    company_name text
);


--
-- Name: company_alias; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.company_alias (
    company_alias_id integer NOT NULL,
    company_id integer,
    company_alias_name text,
    company_alias_retro_start date,
    company_alias_retro_end date,
    company_alias_eff_dte date,
    company_alias_exp_dte date
);


--
-- Name: company_alias_company_alias_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.company_alias ALTER COLUMN company_alias_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.company_alias_company_alias_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: company_company_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.company ALTER COLUMN company_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.company_company_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: company_contact; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.company_contact (
    company_contact_id integer NOT NULL,
    company_id integer,
    company_contact_first text,
    company_contact_last text,
    company_contact_phone text,
    company_contact_email text,
    company_contact_title text,
    company_contact_salutation text,
    company_web text
);


--
-- Name: company_contact_company_contact_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.company_contact ALTER COLUMN company_contact_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.company_contact_company_contact_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: company_location; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.company_location (
    company_location_id integer NOT NULL,
    company_id integer,
    company_location_address_1 text,
    company_location_address_2 text,
    company_location_city text,
    company_location_state text,
    company_location_zip text,
    company_mailing boolean
);


--
-- Name: company_location_company_location_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.company_location ALTER COLUMN company_location_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.company_location_company_location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cover; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cover (
    cover_id integer NOT NULL,
    cover_name text,
    product_id integer
);


--
-- Name: cover_cover_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cover ALTER COLUMN cover_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.cover_cover_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coverage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.coverage (
    coverage_id integer NOT NULL,
    coverage_name text
);


--
-- Name: coverage_coverage_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.coverage ALTER COLUMN coverage_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.coverage_coverage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: data_seed; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.data_seed (
    data_seed_id integer NOT NULL,
    data_seed_filename text,
    show_seed boolean,
    product_id integer
);


--
-- Name: data_seed_data_seed_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.data_seed ALTER COLUMN data_seed_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.data_seed_data_seed_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


--
-- Name: document; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.document (
    document_id integer NOT NULL,
    document_name text,
    product_id integer,
    document_number text,
    default_document boolean,
    document_added time with time zone,
    document_expiration time with time zone,
    document_prior_version integer,
    document_code text
);


--
-- Name: document_detail; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.document_detail (
    document_detail_id integer NOT NULL,
    order_option_id integer,
    document_id integer
);


--
-- Name: document_detail_document_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.document_detail ALTER COLUMN document_detail_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.document_detail_document_detail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: document_document_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.document ALTER COLUMN document_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.document_document_id_seq
    START WITH 21
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: drive; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.drive (
    drive_id integer NOT NULL,
    drive_name text,
    venture_id integer
);


--
-- Name: drive_drive_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.drive ALTER COLUMN drive_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.drive_drive_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: email_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.email_log (
    email_log_id integer NOT NULL,
    order_id integer,
    sent_time time with time zone,
    subject text
);


--
-- Name: email_log_email_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.email_log ALTER COLUMN email_log_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.email_log_email_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee_contact; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employee_contact (
    employee_id integer NOT NULL,
    employee_location_id integer,
    employee_name_first text,
    employee_name_last text,
    employee_email text,
    employee_name_combined text
);


--
-- Name: employee_contact_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.employee_contact ALTER COLUMN employee_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.employee_contact_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee_function; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employee_function (
    employee_function_id integer NOT NULL,
    employee_function text
);


--
-- Name: employee_function_detail; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employee_function_detail (
    employee_function_detail_id integer NOT NULL,
    employee_id integer,
    employee_function_id integer,
    product_id integer,
    cloud_name text,
    iam text
);


--
-- Name: employee_function_detail_employee_function_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.employee_function_detail ALTER COLUMN employee_function_detail_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.employee_function_detail_employee_function_detail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee_function_employee_function_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.employee_function ALTER COLUMN employee_function_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.employee_function_employee_function_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee_location; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employee_location (
    employee_location_id integer NOT NULL,
    venture_id integer,
    employee_location_name text,
    employee_location_address_1 text,
    employee_location_address_2 text,
    employee_location_city text,
    employee_location_state text,
    employee_location_zip text
);


--
-- Name: employee_location_employee_location_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.employee_location ALTER COLUMN employee_location_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.employee_location_employee_location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flow_origin; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.flow_origin (
    flow_origin_id integer NOT NULL,
    flow_origin_name text
);


--
-- Name: generation_job; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.generation_job (
    generation_job_id integer NOT NULL,
    generator_model_id integer,
    product_id integer,
    data_seed_id integer
);


--
-- Name: generation_job_generation_job_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.generation_job ALTER COLUMN generation_job_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.generation_job_generation_job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: generation_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.generation_log (
    output_id integer NOT NULL,
    model_code text,
    output_file_name text,
    product text,
    output_id_2 text
);


--
-- Name: generation_model; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.generation_model (
    generation_model_id integer NOT NULL,
    generation_model_name text,
    python_exe_file text,
    python_file_path text,
    jupyter_file_path text,
    model_filename text,
    model_code text,
    py_file text
);


--
-- Name: generation_model_generation_model_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.generation_model ALTER COLUMN generation_model_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.generation_model_generation_model_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: input_output; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.input_output (
    input_output_id integer NOT NULL,
    input_output_name text
);


--
-- Name: input_output_input_output_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.input_output ALTER COLUMN input_output_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.input_output_input_output_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: limits; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.limits (
    limits_id integer NOT NULL,
    product_id integer,
    cover_id integer,
    limit_text text,
    limit_pc_number numeric,
    limit_ag_number numeric
);


--
-- Name: limit_limit_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.limits ALTER COLUMN limits_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.limit_limit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: model_parameter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.model_parameter (
    model_parameter_id integer NOT NULL,
    training_job_id integer,
    parameter_id integer,
    input_output_id integer
);


--
-- Name: model_parameter_model_parameter_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.model_parameter ALTER COLUMN model_parameter_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.model_parameter_model_parameter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: options; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.options (
    options_id integer NOT NULL,
    option_name text
);


--
-- Name: option_option_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.options ALTER COLUMN options_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.option_option_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_data (
    order_data_id integer NOT NULL,
    orders_id integer,
    employee_count text
);


--
-- Name: order_data_order_data_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.order_data ALTER COLUMN order_data_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.order_data_order_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_data_vert; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_data_vert (
    order_date_vert_id integer NOT NULL,
    order_id integer,
    parameter_id integer,
    vert_value text,
    parameter_map_id integer
);


--
-- Name: order_data_vert_order_date_vert_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.order_data_vert ALTER COLUMN order_date_vert_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.order_data_vert_order_date_vert_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_option; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_option (
    order_option_id integer NOT NULL,
    orders_id integer,
    options_id integer,
    cover_id integer,
    order_option_include boolean,
    retention_id integer,
    limits_id integer,
    premium numeric,
    bound boolean
);


--
-- Name: order_option_order_option_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.order_option ALTER COLUMN order_option_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.order_option_order_option_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.orders (
    orders_id integer NOT NULL,
    stage_id integer,
    employee_id integer,
    flow_origin_id integer,
    company_id integer,
    products_id integer,
    venture_id integer,
    order_created time with time zone,
    workflow_id integer,
    workflow_detail_id integer
);


--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.orders ALTER COLUMN orders_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: paper; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.paper (
    paper_id integer NOT NULL,
    paper_name text,
    am_best_rating text,
    am_best_financial_size text
);


--
-- Name: paper_detail; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.paper_detail (
    paper_detail_id integer NOT NULL,
    products_id integer,
    paper_id integer,
    paper_percentage numeric
);


--
-- Name: paper_detail_paper_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.paper_detail ALTER COLUMN paper_detail_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.paper_detail_paper_detail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: paper_paper_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.paper ALTER COLUMN paper_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.paper_paper_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: parameter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parameter (
    parameter_id integer NOT NULL,
    parameter_name text,
    parameter_type_id integer,
    parameter_docs text,
    parameter_quote boolean,
    parameter_binder boolean,
    parameter_policy boolean
);


--
-- Name: parameter_doc; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parameter_doc (
    parameter_doc_id integer NOT NULL,
    parameter_doc_name text
);


--
-- Name: parameter_doc_parameter_doc_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.parameter_doc ALTER COLUMN parameter_doc_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.parameter_doc_parameter_doc_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: parameter_map; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parameter_map (
    parameter_map_id integer NOT NULL,
    products_id integer,
    parameter_id integer,
    console_element boolean,
    quote_item boolean,
    binder_item boolean,
    policy_item boolean
);


--
-- Name: parameter_map_parameter_map_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.parameter_map ALTER COLUMN parameter_map_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.parameter_map_parameter_map_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: parameter_parameter_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.parameter ALTER COLUMN parameter_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.parameter_parameter_id_seq
    START WITH 31
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: parameter_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parameter_type (
    parameter_type_id integer NOT NULL,
    parameter_type_name text
);


--
-- Name: parameter_type_parameter_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.parameter_type ALTER COLUMN parameter_type_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.parameter_type_parameter_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: parameters_standard; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parameters_standard (
    parameters_standard_id integer NOT NULL,
    coverage_id integer,
    parameter_id integer,
    parameter_map_seq integer
);


--
-- Name: parameters_standard_parameters_standard_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.parameters_standard ALTER COLUMN parameters_standard_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.parameters_standard_parameters_standard_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.products (
    products_id integer NOT NULL,
    product_name text,
    venture_id integer,
    coverage_id integer,
    product_code text,
    product_prefix text,
    documents_name text
);


--
-- Name: products_products_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.products ALTER COLUMN products_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.products_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: retention; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.retention (
    retention_id integer NOT NULL,
    products_id integer,
    cover_id integer,
    retention_text text,
    retention_pc_number numeric,
    retention_ag_number numeric
);


--
-- Name: retention_retention_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.retention ALTER COLUMN retention_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.retention_retention_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stage (
    stage_id integer NOT NULL,
    stage_name text
);


--
-- Name: stage_stage_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.stage ALTER COLUMN stage_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.stage_stage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sublimit; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sublimit (
    sublimit_id integer NOT NULL,
    orders_id integer,
    products_id integer,
    sublimit_name text,
    sublimit_amount numeric
);


--
-- Name: sublimit_detail; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sublimit_detail (
    sublimit_detail_id integer NOT NULL,
    orders_id integer,
    sublimit_id integer
);


--
-- Name: sublimit_detail_sublimit_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sublimit_detail ALTER COLUMN sublimit_detail_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.sublimit_detail_sublimit_detail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sublimit_sublimit_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.sublimit ALTER COLUMN sublimit_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.sublimit_sublimit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: task; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.task (
    task_id integer NOT NULL,
    task_name text,
    task_description text,
    task_display text,
    subroutine_name text
);


--
-- Name: task_task_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.task ALTER COLUMN task_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.task_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: training_job; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.training_job (
    training_job_id integer NOT NULL,
    training_model_id integer,
    products_id integer,
    data_set_id text,
    pickle_file_name text
);


--
-- Name: training_job_training_job_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.training_job ALTER COLUMN training_job_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.training_job_training_job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: training_model; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.training_model (
    training_model_id integer NOT NULL,
    model_name text,
    python_exe_file text,
    python_file_path text,
    jupyter_file_path text,
    model_filename text,
    model_code text,
    py_file text,
    pickle_dump text,
    inference_py_file text
);


--
-- Name: training_model_training_model_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.training_model ALTER COLUMN training_model_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.training_model_training_model_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ul_program; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ul_program (
    ul_program_id integer NOT NULL,
    order_id integer,
    paper_id integer,
    limit_id integer
);


--
-- Name: ul_program_ul_program_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ul_program ALTER COLUMN ul_program_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.ul_program_ul_program_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: venture; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.venture (
    venture_id integer NOT NULL,
    venture_name text,
    venture_address_1 text,
    venture_address_2 text,
    venture_city text,
    venture_state text,
    venture_zip text
);


--
-- Name: venture_venture_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.venture ALTER COLUMN venture_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.venture_venture_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: workflow; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workflow (
    workflow_id integer NOT NULL,
    workflow_name text,
    workflow_type text
);


--
-- Name: workflow_detail; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workflow_detail (
    workflow_detail_id integer NOT NULL,
    workflow_id integer,
    stage_id integer,
    task_id integer,
    workflow_sequence integer,
    man_auto boolean
);


--
-- Name: workflow_detail_workflow_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.workflow_detail ALTER COLUMN workflow_detail_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.workflow_detail_workflow_detail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: workflow_standard; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workflow_standard (
    workflow_standard_id integer NOT NULL,
    workflow_type text,
    stage_id integer,
    next_stage_id integer,
    task_id integer,
    workflow_sequence text,
    man_auto integer
);


--
-- Name: workflow_standard_workflow_standard_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.workflow_standard ALTER COLUMN workflow_standard_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.workflow_standard_workflow_standard_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: workflow_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workflow_type (
    workflow_type_id integer NOT NULL,
    workflow_type_name text
);


--
-- Name: workflow_type_workflow_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.workflow_type ALTER COLUMN workflow_type_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.workflow_type_workflow_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: workflow_workflow_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.workflow ALTER COLUMN workflow_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.workflow_workflow_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: applications Application_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT "Application_pkey" PRIMARY KEY (application_id);


--
-- Name: DjangoProject_item DjangoProject_item_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."DjangoProject_item"
    ADD CONSTRAINT "DjangoProject_item_pkey" PRIMARY KEY (id);


--
-- Name: product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (product_id);


--
-- Name: application_question application_question_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_question
    ADD CONSTRAINT application_question_pkey PRIMARY KEY (application_question_id);


--
-- Name: application_response application_response_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_response
    ADD CONSTRAINT application_response_pkey PRIMARY KEY (application_response_id);


--
-- Name: attachment_detail attachment_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment_detail
    ADD CONSTRAINT attachment_detail_pkey PRIMARY KEY (attachment_detail_id);


--
-- Name: attachment_log attachment_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment_log
    ADD CONSTRAINT attachment_log_pkey PRIMARY KEY (attachment_log_id);


--
-- Name: attachment attachment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment
    ADD CONSTRAINT attachment_pkey PRIMARY KEY (attachment_id);


--
-- Name: attachment_type attachment_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment_type
    ADD CONSTRAINT attachment_type_pkey PRIMARY KEY (attachment_type_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: broker_contact broker_contact_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_contact
    ADD CONSTRAINT broker_contact_pkey PRIMARY KEY (broker_contact_id);


--
-- Name: broker_location broker_location_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_location
    ADD CONSTRAINT broker_location_pkey PRIMARY KEY (broker_location_id);


--
-- Name: broker broker_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker
    ADD CONSTRAINT broker_pkey PRIMARY KEY (broker_id);


--
-- Name: cloud cloud_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cloud
    ADD CONSTRAINT cloud_pkey PRIMARY KEY (cloud_id);


--
-- Name: company_alias company_alias_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_alias
    ADD CONSTRAINT company_alias_pkey PRIMARY KEY (company_alias_id);


--
-- Name: company_contact company_contact_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_contact
    ADD CONSTRAINT company_contact_pkey PRIMARY KEY (company_contact_id);


--
-- Name: company_location company_location_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_location
    ADD CONSTRAINT company_location_pkey PRIMARY KEY (company_location_id);


--
-- Name: company company_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_pkey PRIMARY KEY (company_id);


--
-- Name: cover cover_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cover
    ADD CONSTRAINT cover_pkey PRIMARY KEY (cover_id);


--
-- Name: coverage coverage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.coverage
    ADD CONSTRAINT coverage_pkey PRIMARY KEY (coverage_id);


--
-- Name: data_seed data_seed_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_seed
    ADD CONSTRAINT data_seed_pkey PRIMARY KEY (data_seed_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: document_detail document_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_detail
    ADD CONSTRAINT document_detail_pkey PRIMARY KEY (document_detail_id);


--
-- Name: document document_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document
    ADD CONSTRAINT document_pkey PRIMARY KEY (document_id);


--
-- Name: drive drive_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drive
    ADD CONSTRAINT drive_pkey PRIMARY KEY (drive_id);


--
-- Name: email_log email_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.email_log
    ADD CONSTRAINT email_log_pkey PRIMARY KEY (email_log_id);


--
-- Name: employee_contact employee_contact_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_contact
    ADD CONSTRAINT employee_contact_pkey PRIMARY KEY (employee_id);


--
-- Name: employee_function_detail employee_function_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_function_detail
    ADD CONSTRAINT employee_function_detail_pkey PRIMARY KEY (employee_function_detail_id);


--
-- Name: employee_function employee_function_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_function
    ADD CONSTRAINT employee_function_pkey PRIMARY KEY (employee_function_id);


--
-- Name: employee_location employee_location_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_location
    ADD CONSTRAINT employee_location_pkey PRIMARY KEY (employee_location_id);


--
-- Name: flow_origin flow_origin_pk; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.flow_origin
    ADD CONSTRAINT flow_origin_pk PRIMARY KEY (flow_origin_id);


--
-- Name: generation_job generation_job_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.generation_job
    ADD CONSTRAINT generation_job_pkey PRIMARY KEY (generation_job_id);


--
-- Name: generation_log generation_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.generation_log
    ADD CONSTRAINT generation_log_pkey PRIMARY KEY (output_id);


--
-- Name: generation_model generation_model_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.generation_model
    ADD CONSTRAINT generation_model_pkey PRIMARY KEY (generation_model_id);


--
-- Name: input_output input_output_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.input_output
    ADD CONSTRAINT input_output_pkey PRIMARY KEY (input_output_id);


--
-- Name: limits limit_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.limits
    ADD CONSTRAINT limit_pkey PRIMARY KEY (limits_id);


--
-- Name: model_parameter model_parameter_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_parameter
    ADD CONSTRAINT model_parameter_pkey PRIMARY KEY (model_parameter_id);


--
-- Name: options option_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT option_pkey PRIMARY KEY (options_id);


--
-- Name: order_data order_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_data
    ADD CONSTRAINT order_data_pkey PRIMARY KEY (order_data_id);


--
-- Name: order_data_vert order_data_vert_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_data_vert
    ADD CONSTRAINT order_data_vert_pkey PRIMARY KEY (order_date_vert_id);


--
-- Name: order_option order_option_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_option
    ADD CONSTRAINT order_option_pkey PRIMARY KEY (order_option_id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (orders_id);


--
-- Name: paper_detail paper_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_detail
    ADD CONSTRAINT paper_detail_pkey PRIMARY KEY (paper_detail_id);


--
-- Name: paper paper_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper
    ADD CONSTRAINT paper_pkey PRIMARY KEY (paper_id);


--
-- Name: parameter_doc parameter_doc_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameter_doc
    ADD CONSTRAINT parameter_doc_pkey PRIMARY KEY (parameter_doc_id);


--
-- Name: parameter_map parameter_map_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameter_map
    ADD CONSTRAINT parameter_map_pkey PRIMARY KEY (parameter_map_id);


--
-- Name: parameter parameter_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameter
    ADD CONSTRAINT parameter_pkey PRIMARY KEY (parameter_id);


--
-- Name: parameter_type parameter_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameter_type
    ADD CONSTRAINT parameter_type_pkey PRIMARY KEY (parameter_type_id);


--
-- Name: parameters_standard parameters_standard_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameters_standard
    ADD CONSTRAINT parameters_standard_pkey PRIMARY KEY (parameters_standard_id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (products_id);


--
-- Name: retention retention_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.retention
    ADD CONSTRAINT retention_pkey PRIMARY KEY (retention_id);


--
-- Name: stage stage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stage
    ADD CONSTRAINT stage_pkey PRIMARY KEY (stage_id);


--
-- Name: sublimit_detail sublimit_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sublimit_detail
    ADD CONSTRAINT sublimit_detail_pkey PRIMARY KEY (sublimit_detail_id);


--
-- Name: sublimit sublimit_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sublimit
    ADD CONSTRAINT sublimit_pkey PRIMARY KEY (sublimit_id);


--
-- Name: task task_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_pkey PRIMARY KEY (task_id);


--
-- Name: training_job training_job_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.training_job
    ADD CONSTRAINT training_job_pkey PRIMARY KEY (training_job_id);


--
-- Name: training_model training_model_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.training_model
    ADD CONSTRAINT training_model_pkey PRIMARY KEY (training_model_id);


--
-- Name: ul_program ul_program_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ul_program
    ADD CONSTRAINT ul_program_pkey PRIMARY KEY (ul_program_id);


--
-- Name: venture venture_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.venture
    ADD CONSTRAINT venture_pkey PRIMARY KEY (venture_id);


--
-- Name: workflow_detail workflow_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workflow_detail
    ADD CONSTRAINT workflow_detail_pkey PRIMARY KEY (workflow_detail_id);


--
-- Name: workflow workflow_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workflow
    ADD CONSTRAINT workflow_pkey PRIMARY KEY (workflow_id);


--
-- Name: workflow_standard workflow_standard_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workflow_standard
    ADD CONSTRAINT workflow_standard_pkey PRIMARY KEY (workflow_standard_id);


--
-- Name: workflow_type workflow_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workflow_type
    ADD CONSTRAINT workflow_type_pkey PRIMARY KEY (workflow_type_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: fki_fk_product_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX fki_fk_product_id ON public.applications USING btree (product_id);


--
-- Name: applications Product_Product_ID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT "Product_Product_ID_fkey" FOREIGN KEY (product_id) REFERENCES public.product(product_id) NOT VALID;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: application_question fk_application_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_question
    ADD CONSTRAINT fk_application_id FOREIGN KEY (application_id) REFERENCES public.applications(application_id) NOT VALID;


--
-- Name: application_response fk_application_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_response
    ADD CONSTRAINT fk_application_id FOREIGN KEY (application_id) REFERENCES public.applications(application_id) NOT VALID;


--
-- Name: application_response fk_application_question_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_response
    ADD CONSTRAINT fk_application_question_id FOREIGN KEY (application_question_id) REFERENCES public.application_question(application_question_id) NOT VALID;


--
-- Name: attachment_detail fk_attachment_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment_detail
    ADD CONSTRAINT fk_attachment_id FOREIGN KEY (attachment_id) REFERENCES public.attachment(attachment_id) NOT VALID;


--
-- Name: attachment fk_attachment_type_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment
    ADD CONSTRAINT fk_attachment_type_id FOREIGN KEY (attachment_type_id) REFERENCES public.attachment_type(attachment_type_id) NOT VALID;


--
-- Name: attachment_detail fk_attachment_type_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment_detail
    ADD CONSTRAINT fk_attachment_type_id FOREIGN KEY (attachment_type_id) REFERENCES public.attachment_type(attachment_type_id) NOT VALID;


--
-- Name: attachment_log fk_attachment_type_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment_log
    ADD CONSTRAINT fk_attachment_type_id FOREIGN KEY (attachment_type_id) REFERENCES public.attachment_type(attachment_type_id) NOT VALID;


--
-- Name: broker_location fk_broker_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_location
    ADD CONSTRAINT fk_broker_id FOREIGN KEY (broker_id) REFERENCES public.broker(broker_id) NOT VALID;


--
-- Name: broker_contact fk_broker_location_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_contact
    ADD CONSTRAINT fk_broker_location_id FOREIGN KEY (broker_location_id) REFERENCES public.broker_location(broker_location_id) NOT VALID;


--
-- Name: company_alias fk_company_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_alias
    ADD CONSTRAINT fk_company_id FOREIGN KEY (company_id) REFERENCES public.company(company_id) NOT VALID;


--
-- Name: company_contact fk_company_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_contact
    ADD CONSTRAINT fk_company_id FOREIGN KEY (company_id) REFERENCES public.company(company_id) NOT VALID;


--
-- Name: company_location fk_company_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_location
    ADD CONSTRAINT fk_company_id FOREIGN KEY (company_id) REFERENCES public.company(company_id) NOT VALID;


--
-- Name: orders fk_company_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_company_id FOREIGN KEY (company_id) REFERENCES public.company(company_id) NOT VALID;


--
-- Name: limits fk_cover_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.limits
    ADD CONSTRAINT fk_cover_id FOREIGN KEY (cover_id) REFERENCES public.cover(cover_id) NOT VALID;


--
-- Name: order_option fk_cover_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_option
    ADD CONSTRAINT fk_cover_id FOREIGN KEY (cover_id) REFERENCES public.cover(cover_id) NOT VALID;


--
-- Name: parameters_standard fk_coverage_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameters_standard
    ADD CONSTRAINT fk_coverage_id FOREIGN KEY (coverage_id) REFERENCES public.coverage(coverage_id) NOT VALID;


--
-- Name: products fk_coverage_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fk_coverage_id FOREIGN KEY (coverage_id) REFERENCES public.coverage(coverage_id) NOT VALID;


--
-- Name: generation_job fk_data_seed_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.generation_job
    ADD CONSTRAINT fk_data_seed_id FOREIGN KEY (data_seed_id) REFERENCES public.data_seed(data_seed_id) NOT VALID;


--
-- Name: document_detail fk_document_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_detail
    ADD CONSTRAINT fk_document_id FOREIGN KEY (document_id) REFERENCES public.document(document_id) NOT VALID;


--
-- Name: employee_function_detail fk_employee_function_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_function_detail
    ADD CONSTRAINT fk_employee_function_id FOREIGN KEY (employee_function_id) REFERENCES public.employee_function(employee_function_id) NOT VALID;


--
-- Name: employee_function_detail fk_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_function_detail
    ADD CONSTRAINT fk_employee_id FOREIGN KEY (employee_id) REFERENCES public.employee_contact(employee_id) NOT VALID;


--
-- Name: orders fk_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_employee_id FOREIGN KEY (employee_id) REFERENCES public.employee_contact(employee_id) NOT VALID;


--
-- Name: employee_contact fk_employee_location_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_contact
    ADD CONSTRAINT fk_employee_location_id FOREIGN KEY (employee_location_id) REFERENCES public.employee_location(employee_location_id) NOT VALID;


--
-- Name: orders fk_flow_origin; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_flow_origin FOREIGN KEY (flow_origin_id) REFERENCES public.flow_origin(flow_origin_id) NOT VALID;


--
-- Name: generation_job fk_generator_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.generation_job
    ADD CONSTRAINT fk_generator_model_id FOREIGN KEY (generator_model_id) REFERENCES public.generation_model(generation_model_id) NOT VALID;


--
-- Name: model_parameter fk_input_output_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_parameter
    ADD CONSTRAINT fk_input_output_id FOREIGN KEY (input_output_id) REFERENCES public.input_output(input_output_id) NOT VALID;


--
-- Name: order_option fk_limits_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_option
    ADD CONSTRAINT fk_limits_id FOREIGN KEY (limits_id) REFERENCES public.limits(limits_id) NOT VALID;


--
-- Name: order_option fk_option_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_option
    ADD CONSTRAINT fk_option_id FOREIGN KEY (options_id) REFERENCES public.options(options_id) NOT VALID;


--
-- Name: application_response fk_order_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_response
    ADD CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES public.orders(orders_id) NOT VALID;


--
-- Name: attachment_log fk_order_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment_log
    ADD CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES public.orders(orders_id) NOT VALID;


--
-- Name: document_detail fk_order_option_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_detail
    ADD CONSTRAINT fk_order_option_id FOREIGN KEY (order_option_id) REFERENCES public.order_option(order_option_id) NOT VALID;


--
-- Name: order_data fk_orders_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_data
    ADD CONSTRAINT fk_orders_id FOREIGN KEY (orders_id) REFERENCES public.orders(orders_id) NOT VALID;


--
-- Name: order_data_vert fk_orders_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_data_vert
    ADD CONSTRAINT fk_orders_id FOREIGN KEY (order_id) REFERENCES public.orders(orders_id) NOT VALID;


--
-- Name: order_option fk_orders_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_option
    ADD CONSTRAINT fk_orders_id FOREIGN KEY (orders_id) REFERENCES public.orders(orders_id) NOT VALID;


--
-- Name: sublimit fk_orders_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sublimit
    ADD CONSTRAINT fk_orders_id FOREIGN KEY (orders_id) REFERENCES public.orders(orders_id) NOT VALID;


--
-- Name: sublimit_detail fk_orders_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sublimit_detail
    ADD CONSTRAINT fk_orders_id FOREIGN KEY (orders_id) REFERENCES public.orders(orders_id) NOT VALID;


--
-- Name: paper_detail fk_paper_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_detail
    ADD CONSTRAINT fk_paper_id FOREIGN KEY (paper_id) REFERENCES public.paper(paper_id) NOT VALID;


--
-- Name: application_question fk_parameter_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_question
    ADD CONSTRAINT fk_parameter_id FOREIGN KEY (parameter_id) REFERENCES public.parameter(parameter_id) NOT VALID;


--
-- Name: model_parameter fk_parameter_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_parameter
    ADD CONSTRAINT fk_parameter_id FOREIGN KEY (parameter_id) REFERENCES public.parameter(parameter_id) NOT VALID;


--
-- Name: order_data_vert fk_parameter_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_data_vert
    ADD CONSTRAINT fk_parameter_id FOREIGN KEY (parameter_id) REFERENCES public.parameter(parameter_id) NOT VALID;


--
-- Name: parameter_map fk_parameter_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameter_map
    ADD CONSTRAINT fk_parameter_id FOREIGN KEY (parameter_id) REFERENCES public.parameter(parameter_id) NOT VALID;


--
-- Name: parameters_standard fk_parameter_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameters_standard
    ADD CONSTRAINT fk_parameter_id FOREIGN KEY (parameter_id) REFERENCES public.parameter(parameter_id) NOT VALID;


--
-- Name: order_data_vert fk_parameter_map_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_data_vert
    ADD CONSTRAINT fk_parameter_map_id FOREIGN KEY (parameter_map_id) REFERENCES public.parameter_map(parameter_map_id) NOT VALID;


--
-- Name: parameter fk_parameter_type_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameter
    ADD CONSTRAINT fk_parameter_type_id FOREIGN KEY (parameter_type_id) REFERENCES public.parameter_type(parameter_type_id) NOT VALID;


--
-- Name: applications fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: attachment_detail fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment_detail
    ADD CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: cover fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cover
    ADD CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: data_seed fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_seed
    ADD CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: document fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document
    ADD CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: employee_function_detail fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_function_detail
    ADD CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: generation_job fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.generation_job
    ADD CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: limits fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.limits
    ADD CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: retention fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.retention
    ADD CONSTRAINT fk_product_id FOREIGN KEY (products_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: orders fk_products_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_products_id FOREIGN KEY (products_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: paper_detail fk_products_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_detail
    ADD CONSTRAINT fk_products_id FOREIGN KEY (products_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: parameter_map fk_products_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parameter_map
    ADD CONSTRAINT fk_products_id FOREIGN KEY (products_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: sublimit fk_products_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sublimit
    ADD CONSTRAINT fk_products_id FOREIGN KEY (products_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: training_job fk_products_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.training_job
    ADD CONSTRAINT fk_products_id FOREIGN KEY (products_id) REFERENCES public.products(products_id) NOT VALID;


--
-- Name: order_option fk_retention_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_option
    ADD CONSTRAINT fk_retention_id FOREIGN KEY (retention_id) REFERENCES public.retention(retention_id) NOT VALID;


--
-- Name: orders fk_stage_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_stage_id FOREIGN KEY (stage_id) REFERENCES public.stage(stage_id) NOT VALID;


--
-- Name: sublimit_detail fk_sublimit_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sublimit_detail
    ADD CONSTRAINT fk_sublimit_id FOREIGN KEY (sublimit_id) REFERENCES public.sublimit(sublimit_id) NOT VALID;


--
-- Name: attachment_detail fk_task_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attachment_detail
    ADD CONSTRAINT fk_task_id FOREIGN KEY (task_id) REFERENCES public.task(task_id) NOT VALID;


--
-- Name: workflow_detail fk_task_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workflow_detail
    ADD CONSTRAINT fk_task_id FOREIGN KEY (task_id) REFERENCES public.task(task_id) NOT VALID;


--
-- Name: workflow_standard fk_task_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workflow_standard
    ADD CONSTRAINT fk_task_id FOREIGN KEY (task_id) REFERENCES public.task(task_id) NOT VALID;


--
-- Name: model_parameter fk_training_job_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_parameter
    ADD CONSTRAINT fk_training_job_id FOREIGN KEY (training_job_id) REFERENCES public.training_job(training_job_id) NOT VALID;


--
-- Name: training_job fk_training_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.training_job
    ADD CONSTRAINT fk_training_model_id FOREIGN KEY (training_model_id) REFERENCES public.training_model(training_model_id) NOT VALID;


--
-- Name: drive fk_venture_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drive
    ADD CONSTRAINT fk_venture_id FOREIGN KEY (venture_id) REFERENCES public.venture(venture_id) NOT VALID;


--
-- Name: employee_location fk_venture_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_location
    ADD CONSTRAINT fk_venture_id FOREIGN KEY (venture_id) REFERENCES public.venture(venture_id) NOT VALID;


--
-- Name: orders fk_venture_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_venture_id FOREIGN KEY (venture_id) REFERENCES public.venture(venture_id) NOT VALID;


--
-- Name: products fk_venture_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fk_venture_id FOREIGN KEY (venture_id) REFERENCES public.venture(venture_id) NOT VALID;


--
-- Name: orders fk_workflow_detail_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_workflow_detail_id FOREIGN KEY (workflow_detail_id) REFERENCES public.workflow_detail(workflow_detail_id) NOT VALID;


--
-- Name: orders fk_workflow_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_workflow_id FOREIGN KEY (workflow_id) REFERENCES public.workflow(workflow_id) NOT VALID;


--
-- Name: workflow_detail fk_workflow_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workflow_detail
    ADD CONSTRAINT fk_workflow_id FOREIGN KEY (workflow_id) REFERENCES public.workflow(workflow_id) NOT VALID;


--
-- PostgreSQL database dump complete
--

\unrestrict poL3g5qjP0OzE93E8OJHeIrhxGlt4D03zKoYY8EKvjLnE9At6L6pvOgELTQy7rZ

