<!-- templates/core/modals/document_detail_modal.html -->
{% extends "core/modals/base_modal.html" %}

{% block modal_title %}
    {% if object %}Edit Document Detail{% else %}Add New Document Detail{% endif %}
{% endblock %}

{% block form_action %}/ajax/document-detail/{% if object %}{{ object.document_detail_id }}/edit/{% else %}add/{% endif %}{% endblock %}

{% block form_fields %}
    <div class="form-group">
        {{ form.order_option.label_tag }}
        {{ form.order_option }}
        {% if form.order_option.errors %}{% for error in form.order_option.errors %}<span class="error-message">{{ error }}</span>{% endfor %}{% endif %}
    </div>

    <div class="form-group">
        {{ form.document.label_tag }}
        {{ form.document }}
        {% if form.document.errors %}{% for error in form.document.errors %}<span class="error-message">{{ error }}</span>{% endfor %}{% endif %}
    </div>
{% endblock %}